---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
---

<Layout title="Demo Options">
  <Container>
    <div class="my-20">
      <h1
        class="mt-2 text-center text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        No sign up or credit card required. <br />Demo right in your browser.
      </h1>
      <p class="mt-6 text-center text-lg leading-8 text-gray-600">
        Join the waitlist to view a free demo using <strong>your Zendesk</strong
        > account.
      </p>
    </div>
    <div class="grid grid-cols-2">
      <div class="flex h-[300px] flex-col justify-center">
        <Link href="/demo/article" size="lg" class="mx-auto bg-indigo-500">
          Demo Using Your Article
        </Link>
        <p class="text-md mx-10 mt-6 text-center">
          Enter a URL to one Zendesk article of your choice and ask questions to
          the bot about that article.
        </p>
      </div>
      <div class="flex h-[300px] flex-col justify-center">
        <Link
          target="_blank"
          href="/demo/fakeHelpCenter"
          size="lg"
          class="mx-auto bg-indigo-500">
          Demo Fake Help Center
        </Link>
        <p class="text-md mx-10 mt-6 text-center">
          View a demo in a fake help center, Georgia's Bakery. Ask questions
          like refund policy, delivery options, or cookie options.
        </p>
      </div>
    </div>
  </Container>
</Layout>
