---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
---

<Layout title="Demo Options">
  <Container>
    <div class="mb-4 mt-20 sm:my-20">
      <h1
        class="mt-2 text-center text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        No sign up or credit card required. <br />Demo right in your browser.
      </h1>
      <p class="mt-6 text-center text-lg leading-8 text-gray-600">
        Join the waitlist to view a free demo using <strong>your Zendesk</strong
        > account.
      </p>
    </div>
    <div class="sm:grid sm:grid-cols-2">
      <div class="flex h-[200px] flex-col justify-center sm:h-[300px]">
        <Link
          target="_blank"
          href="/demo/fakeHelpCenter"
          size="lg"
          class="mx-auto bg-indigo-500">
          Demo a fake Help Center
        </Link>
        <p class="text-md mx-auto mt-6 w-[60%] text-center">
          Ask Georgia's Cookies any questions, like refund policy, delivery
          options, or cookie pricing.
        </p>
      </div>
      <div
        class="mt-12 flex h-[200px] flex-col justify-center sm:h-[300px] lg:mt-0">
        <Link href="/waitlist" size="lg" class="mx-auto bg-indigo-500">
          Demo your own help center
        </Link>
        <p class="text-md mx-auto mt-6 w-[60%] text-center">
          Join the waitlist to get a Demo using your own Zendesk help center.
        </p>
      </div>
    </div>
  </Container>
</Layout>
