<div>about</div>

<div
  class="max-w-lg p-5 mt-10 text-sm text-left text-gray-600 border max-h-14"
>
  <p>
    Thank you for being an early customer. We are still working on our
    collection of components &amp; templates. It will take some time.
    By buying early, you will get 50% discount on the original price +
    all future updates for lifetime free! Sweet isn't it? It's a gift
    for you.
  </p>
</div>
