---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Waitlistform from "@components/waitlistform.astro";
---

<Layout title="Careers">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Careers</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="m-auto mt-16">
      <div>
        <h2 class="text-center text-2xl font-medium text-gray-800">
          Nothing yet - but we hope to hire soon!
        </h2>
      </div>
      <div></div>
    </div>
  </Container>
</Layout>
