---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc">
        Let us know if you have any questions or comments! We're happy to help!
      </Fragment>
    </Sectionhead>

    <div class="mx-auto mt-16 grid max-w-4xl gap-10 md:grid-cols-2">
      <div>
        <h2 class="text-2xl font-medium text-gray-800">Contact WiselyDesk</h2>
        <p class="mt-3 text-lg leading-relaxed text-slate-500">
          Have something to say? We are here to help. Fill up the form or send
          us an email.
        </p>
        <div class="mt-5">
          <div class="mt-2 flex items-center space-x-2 text-gray-600">
            <Icon class="h-4 w-4 text-gray-400" name="uil:map-marker" />
            <span>Berlin, Germany</span>
          </div><div class="mt-2 flex items-center space-x-2 text-gray-600">
            <Icon class="h-4 w-4 text-gray-400" name="uil:envelope" /><a
              href="mailto:wiselydesk@gmail.com">wiselydesk@gmail.com</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
