---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Privacy">
  <Container class="my-56">
    <p class="mx-10">
      We don't track users or use cookies at the moment. We don't save any data
      outside of our own Zendesk account, and no conversations are stored - only
      temporarily saved in computer memory. We use Plausible for page tracking
      (doesn't use cookies or any PII- <a
        class="text-blue-500"
        href="https://plausible.io/data-policy"
        target="_blank">
        read their data privacy instructions</a
      >)
    </p>
  </Container>
</Layout>
