---
const { title, children } = Astro.props;
---

<div @click.away="open = false" class="relative" x-data="{ open: false }">
  <button @click="open = !open" class="flex">
    <span>{title}</span>
    <svg
      fill="currentColor"
      viewBox="0 0 20 20"
      :class="{'rotate-180': open, 'rotate-0': !open}"
      class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"
      ><path
        fill-rule="evenodd"
        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
        clip-rule="evenodd"></path>
    </svg>
  </button>
  <div
    x-show="open"
    x-transition:enter="transition ease-out duration-100"
    x-transition:enter-start="transform lg:opacity-0 lg:scale-95"
    x-transition:enter-end="transform lg:opacity-100 lg:scale-100"
    x-transition:leave="transition ease-in duration-75"
    x-transition:leave-start="transform lg:opacity-100 lg:scale-100"
    x-transition:leave-end="transform lg:opacity-0 lg:scale-95"
    class="lg:absolute lg:right-0 w-full mt-2 origin-top-right lg:w-48">
    <div class="px-2 py-2 lg:bg-white lg:rounded-md lg:shadow">
      {children.map((item) => <div>{item.title}</div>)}
    </div>
  </div>
</div>
