---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Learn & Earn",
    path: "#",
    children: [
      { title: "User Profiles", path: "/" },
      { title: "Conscious Creator", path: "#" },
      { title: "WKT/CST Token", path: "#" },
      { title: "Mining", path: "/404" },
      { title: "CST Marketplace", path: "/404" },
    ],
  },
  {
    title: "Token",
    path: "#",
    children: [
      { title: "Mine, Stake & Trade", path: "/" },
      { title: "Explore", path: "#" },
  ]
  },
  {
    title: "Community",
    path: "#",
    children: [
      { title: "Community Polls", path: "#" },
  ]
  },
  {
    title: "CST Marketplace",
    path: "/blog",
  },
  {
    title: "About",
    path: "/contact",
    children: [
      { title: "White Paper", path: "#" },
      { title: "Audit", path: "#" },
  ]
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg"
          ><span class="font-bold text-slate-800">Woke</span><span
            class="text-slate-500">.888</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="#" size="md" block>Stay Woke</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <a href="#"></a>
        <Link href="#" size="md">Stay Woke</Link>
      </div>
    </div>
  </header>
</Container>
