---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Demo",
    path: "#",
    class: "flex py-2 font-semibold text-gray-600 hover:text-gray-900 lg:px-3",
    children: [
      { title: "Your Article", path: "/demo/article" },
      { title: "Fake Help Center", path: "/demo/fakeHelpCenter" }
    ]
  },
  {
    title: "Pricing",
    path: "/pricing"
  },
  {
    title: "Company",
    path: "#",
    children: [
      { title: "About", path: "/about" },
      { title: "Careers", path: "/careers" },
      { title: "Privacy", path: "#" }
    ]
  },
  {
    title: "Resources",
    path: "#",
    children: [{ title: "Blog", path: "/blog" }]
  },
  {
    title: "Contact",
    path: "/contact"
  }
];
---

<Container>
  <header class="my-5 flex flex-col items-center justify-between lg:flex-row">
    <Astronav>
      <div class="flex w-full items-center justify-between lg:w-auto">
        <a href="/" class="text-2xl"
          ><span class="font-bold text-slate-800">Wisely</span><span
            class="text-slate-500">Desk</span
          >
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="h-4 w-4 text-gray-800" />
        </div>
      </div>
      <MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}

                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class={
                        item.class ??
                        "flex py-2 text-gray-600 hover:text-gray-900 lg:px-3"
                      }>
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
        <div class="mt-3 flex items-center gap-4 lg:hidden">
          <Link href="/waitlist" size="md" block>Join Waitlist</Link>
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden items-center gap-4 lg:flex">
        <Link href="/waitlist" size="md">Join Waitlist</Link>
      </div>
    </div>
  </header>
</Container>
