---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Contact us.
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Good software is only possible with happy developers in a great work environment.
  </p>

</div>
