---
import Link from "./ui/link.astro";
---

<div class="bg-white p-8 md:px-20 md:py-20 mt-100 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-black text-4xl lg:text-5xl font-bold lg:tracking-tight xl:tracking-tighter">
    Harness total design freedom.
  </h2>
  <p class="text-black text-lg font-bold mt-4 text-slate-600">
    Create mobile-friendly layouts and dynamic content to add the final layer of polish for a product you'll be proud to show off to your prospects, users or investors.
  </p>
  <div class="flex mt-5">
    <Link href="#" size="md" block>Get Started for free</Link>
  </div>
</div>
