---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Création de contenu captivant",
    description:
      "des blogs qui racontent votre histoire et des pages de destination optimisées pour transformer chaque clic en opportunité.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Hébergement fiable et sécurisé",
    description:
      "assurez-vous que votre site est toujours accessible et performant.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Consultance et Outils de Productivité",
    description:
      "Optimisez vos processus ! maximisez votre efficacité avec des solutions qui vous libèrent du temps. Notre équipe d`experts vous guide dans la consultation et l`installation d`outils performants.",
    icon: "bx:bxs-data",
  },
  {
    title: "Créez du contenu captivant !",
    description:
      "Nos blogs et pages de destination sont conçus pour séduire vos visiteurs et les convertir en clients fidèles. Et bientôt, nous vous offrirons des pages dynamiques qui s’adaptent à vos besoins évolutifs !",
    icon: "bx:bxs-bot",
  },
  {
    title: "Hébergement et Configuration Technique",
    description:
      "Faites confiance à notre expertise ! Nous vous accompagnons dans la configuration de votre domaine et vous proposons des solutions d'hébergement fiables et sécurisées. Profitez de notre savoir-faire pour la configuration de serveurs dédiés à vos applications open source.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Services Créatifs Sur Mesure",
    description:
      "Sublimez votre image de marque ! Laissez-nous créer des photographies et des vidéos professionnelles qui capturent l’essence de votre entreprise et la rendent inoubliable.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Tout ce dont vous avez besoin pour créer un site web
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Que vous soyez une PME cherchant à optimiser sa présence en ligne ou une grande entreprise en quête d'une transformation numérique à grande échelle, InnovArt propose des solutions technologiques taillées pour vos besoins spécifiques.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
