---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Build Your Platform!",
    description:
      "Empower your creativity by tokenizing with Conscious Tokens (CSTs). Let your Tribe not just support, but thrive alongside you, as they buy, trade, and profit from the content they cherish",
    icon: "bx:bxs-coin",
  },
  {
    title: "Join a Tribe",
    description:
      "Dive deep into our platform where involvement goes beyond just content consumption. Our active members not only engage and invest, but they also shape our community by purchasing CSTs, reaping dividends, and sparking vibrant discussions and feedback",
    icon: "bx:bxs-user",
  },
  {
    title: "Mining Mastery",
    description:
    "Dive into the world of miners, the unsung heroes who harness computational might to fortify our blockchain, ensure transactional integrity, and reap the rich rewards of WKT in return.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Ad Power: Boosting Brands, Benefiting Creators",
    description:
      "Step into the realm of advertisers, the driving force behind brand visibility on our platform. Their strategic promotions not only elevate their own products but also fuel prosperity for content creators and fortify the platform's financial foundation",
    icon: "bx:bxs-bot",
  },
  {
    title: "Engage, Act, Earn: The WKT Rewards Revolution",
    description:
    "Dive into our Engagement Rewards system, designed to celebrate and compensate your active participation. Every action you take resonates, earning you slices of WKT, making every moment on our platform not just engaging, but rewarding.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Awaken Your Potential: Buy Woke Token (WKT) Today!",
    description:
      "Ready to awaken your financial potential? Dive in and invest in Woke Token (WKT) today!",
    icon: "bx:bxs-user", 
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Reclaim 'Woke,' Ignite Your Spirit: Your Journey to Truth Starts Here
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Step into the light of authenticity!
   Let consciousness be your compass to a deeper understanding and spiritual elevation.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
