---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Musroom Farming",
    description:
      "Could take care of your families needs with a weekly income of N100,000",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Cucumber Farming",
    description: "could pay your House Rent by making N200,000 every month",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Sesame or Beneseed Farming",
    description: "Could change your life for the better",
    icon: "bx:bxs-data",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to start a business in Agriculture
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    We are giving the solutions to starting a money making mechanism using
    agricukture as the base. This will develp a buisness that not only pays you
    but makes sure you keep expanding in the nearest future
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
