---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Prototype",
    description:
      "Demonstrate your idea before making an investment in technical resources",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Launch",
    description:
      "Build customer-facing web platforms and internal tools in hours instead of months",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Iterate",
    description:
      "Empower anyone on your team to make changes, not just developers  ",
    icon: "bx:bxs-data",
  },
  {
    title: "Scale",
    description:
      "Gain traction and grow without worrynig about infrastructure",
    icon: "bx:bxs-bot",
  },
  {
    title: "Integrate",
    description:
      "Create custom integrations that connect to other services you have",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Customize",
    description:
      "CodeBlocks is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Design, develop and run powerful products with CodeBlocks.
  </h2>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
