---
import Knowledgeable from "@components/features/smartiePants";
import EasyInstall from "@components/features/easyInstall";
---

<div class="mx-[calc(50%-50vw)] bg-slate-100 pt-8">
  <h2
    class="ml-6 flex items-start text-4xl font-bold tracking-tight sm:ml-32 lg:text-5xl">
    73%<span class="text-[1.5rem]">*</span> of your help center content remains unread
  </h2>
  <p class="ml-6 text-sm sm:ml-36">
    *We're just guessing here. But it's probably close.
  </p>
  <img
    src="/eventst.png"
    alt="chain of unfortunate events picture"
    class="m-auto mt-5 hidden w-[60%] sm:block"
  />
</div>
<div class="mt-12 w-full">
  <h1 class="text-center text-4xl font-bold tracking-tight lg:text-5xl">
    Introducing WiselyDesk
  </h1>
  <Knowledgeable />
  <EasyInstall />
</div>
