---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  // {
  //   title: "Bring Your Own Framework",
  //   description:
  //     "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
  //   icon: "bx:bxs-briefcase",
  // },
  // {
  //   title: "100% Static HTML, No JS",
  //   description:
  //     "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
  //   icon: "bx:bxs-window-alt",
  // },
  // {
  //   title: "On-Demand Components",
  //   description:
  //     "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ",
  //   icon: "bx:bxs-data",
  // },
  {
    title: "For the Community",
    description:
      "Utility Gods is a project powered by powered by a vision to create a single stop for all your utility services.",
    icon: "bx:bxs-user",
  },
  {
    title: "Broad Integration",
    description:
      "We provide API for all of our services and help with integrations..",
    icon: "bx:bxs-bot",
  },
  {
    title: "Always Free",
    description:
      "We intend to bring all the services for free to the community.",
    icon: "bx:bxs-file-find",
  },
  
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-sky-600">
    Services for the ease of community.
  </h2>
  <p class="text-lg mt-4 text-gray-400">
   Utility gods is a platform that provides services for the ease of community, business and developers.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
