---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "多位日本本土的资深顾问",
    description:
      "有高管，中小企业主，横跨医疗器械，物流，不动产，教育，IT等多个行业，对并购对象公司进行财务，经营等方面的最终评判，确保投资安全性。",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "创始人",
    description:
      "创始人之一是北大法硕，有国内律师资格，可对国内法人以及个人的海外出金提供专业建议。",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "客服",
    description:
      "中英日三国语言对应。",
    icon: "bx:bxs-data",
  },
  {
    title: "成员",
    description:
      "公司成员久居日本，了解当地风土习惯，确保提案的专业性。",
    icon: "bx:bxs-bot",
  },
  {
    title: "数字化",
    description:
      "广泛导入AI技术。如并购后有DX（数字化）方面的需求，有协力公司可在AI及其他IT领域提供技术支持。",
    icon: "bx:bxs-file-find",
  },
  {
    title: "免费",
    description:
      "前期（15天以内）咨询服务为免费提供。",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    提供您在日本创业所需要的所有服务：
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Schindler-JP is a consulting company that provides everything for your business in Japan.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
