---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Stratégie de Contenu Impactante",
    description:
      "Transformez votre message en un contenu captivant qui attire l'attention ! Copywriting sur mesure, Contenu persuasif pour vos pages web, newsletters et campagnes publicitaires..",
    icon: "bx:bxs-pencil",
  },
  {
    title: "Développement Web Personnalisé",
    description:
      "Un site web qui vous ressemble, qui évolue avec vous. Nous concevons et développons des sites web sur mesure, adaptés à vos besoins spécifiques.",
    icon: "bx:bxs-devices",
  },
  {
    title: "Outils de Productivité",
    description:
      "Optimisez vos processus ! maximisez votre efficacité avec des solutions qui vous libèrent du temps. Notre équipe d`experts vous guide dans la consultation et l`installation d`outils performants.",
    icon: "bx:bxs-cog",
  },
  {
    title: "Nos Services de Consultance !",
    description:
      "Chez InnovArt, nous comprenons que chaque entreprise a des besoins uniques. C’est pourquoi nous offrons un service de consultance personnalisé et l’intégration d'outils de productivité conçus pour simplifier et automatiser vos opérations, permettant à votre équipe de se concentrer sur ce qui compte vraiment : faire croître votre entreprise.",
    icon: "bx:bxs-hand",
  },
  {
    title: "Hébergement et Configuration Technique",
    description:
      "Faites confiance à notre expertise ! Nous vous accompagnons dans la configuration de votre domaine et vous proposons des solutions d'hébergement fiables et sécurisées. Profitez de notre savoir-faire pour la configuration de serveurs dédiés à vos applications open source.",
    icon: "bx:bxs-server",
  },
  {
    title: "Services Créatifs Sur Mesure",
    description:
      "Sublimez votre image de marque ! Laissez-nous créer des photographies et des vidéos professionnelles qui capturent l’essence de votre entreprise et la rendent inoubliable.",
    icon: "bx:bxs-palette",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Tout ce dont vous avez besoin pour créer un site web
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Que vous soyez une PME cherchant à optimiser sa présence en ligne ou une grande entreprise en quête d'une transformation numérique à grande échelle, InnovArt propose des solutions technologiques taillées pour vos besoins spécifiques.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
