<div class="mx-[calc(50%-50vw)] bg-slate-100 pt-8">
  <h2
    class="ml-32 flex items-start text-4xl font-bold tracking-tight lg:text-5xl">
    73%<span class="text-[1.5rem]">*</span> of your help center content remains unread
  </h2>
  <p class="ml-36 text-sm">
    *We're just guessing here. But it's probably close.
  </p>
  <img
    src="/eventst.png"
    alt="chain of unfortunate events picture"
    class="m-auto my-5 ml-48 w-[75%]"
  />
</div>
