---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      シンドラーコンサルティング合同会社
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      辛德勒咨询是一家专注于日本M&A业务（并购）公司。主要业务是为中国国内客户提供海外并购咨询服务，目标范围是日本全境的中小企业，帮助客户在日本寻找机会并完成交易。
    </p>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      作为一家初创的咨询公司，我们的团队由一批拥有深厚专业知识，充满活力，经验丰富的顾问组成，包括项目筛选、调查、财务分析、合同谈判和交易结构等方面的专业建议。
    </p>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      辛德勒咨询公司是您可靠的合作伙伴。我们将竭尽全力帮助您实现目标，创造更大的价值。
    </p>

  </div>
</main>
