---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main class="m-auto max-w-screen-lg py-16 text-center md:pt-12">
  <div class="mt-16">
    <h1
      class="text-5xl font-bold tracking-tight lg:text-6xl xl:text-7xl xl:tracking-tighter">
      Supercharge your Zendesk HC
    </h1>
    <p class="m-auto mt-4 text-3xl tracking-tight">
      Revamp your Help Center CX with AI. Get instant answer about your entire
      knowledge base - faster than typing out your questions.
      <!-- Convenient, 24/7
      and unlimited <br class="hidden lg:inline" />scale conversations about
      your entire knowledge base. -->
    </p>
    <div class="mt-24 flex flex-col justify-center gap-3 sm:mt-48 sm:flex-row">
      <Link
        href="/demo"
        target="_blank"
        class="flex items-center justify-center gap-2 font-medium"
        rel="noopener">
        <Icon class="h-10 w-10 text-white" name="ri:messenger-fill" />
        Demo options
      </Link>
    </div>
    <div class="m-auto mt-3 grid max-w-[300px] grid-cols-1 gap-6 text-[13px]">
      <p>No sign up or credit card required. <br />Demo in your browser.</p>
    </div>
  </div>
</main>
