---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      The best way to build tools without code
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Building internal tools is slow and expensive. <wbr /> CodeBlocks is the most powerful no-code
      platform for building tools your team needs. Build better and faster.
     </p>
    <div class="flex mt-5">
      <div class="bg-black text-white p-2 md:px-1 md:py-1 mt-5 mx-auto max-w-xl rounded-lg flex flex-col items-center text-center">
      <Link href="#" style="inverted; color: white;">Join the waiting list</Link>
    </div>
    <div class="flex mt-5">
      <Link href="#" style="color: black;">Join 1,353 other developers using CodeBlocks!</Link>
    </div>
  </div>
</main>
