---
import Link from "@components/ui/link.astro"
import { Icon } from "astro-icon/components"
---

<main class="place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="mt-8">
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter max-w-screen-lg">
      Your website built with the best frameworks
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Astroship is a starter template for startups, marketing websites & landing
      pages.<wbr /> Built with Astro.build and TailwindCSS. You can quickly create
      any website with this starter.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white" name="bx:bxl-whatsapp" size={18} />
        Get in touch
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/douglasshinzato"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black" name="bx:bxl-github" size={18} />
        GitHub
      </Link>
    </div>
  </div>
</main>
