---
import { Picture } from "@astrojs/image/components";
import simplex from "assets/3dX.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={simplex}
      alt="Logo SimplexPortal"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      <font color="#F39207"> SimplexPortal</font>
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      We bring to every project experience, agile methodologies and desire to be with a great team. No one is more Java / Scala evangelist and advocate than us, but our experience taught us that not everything is nails.

    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">

      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://www.acervera.com/"
        class="flex gap-3 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-6 h-6" name="mdi:web" />
        Angel C.C
      </Link>

      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://www.linkedin.com/in/silvia-rold%C3%A1n-s%C3%A1nchez-b1a49120/"
        class="flex gap-3 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-6 h-6" name="bi:linkedin" />
        Silvia R.S
      </Link>

      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://angelcerveraroldan-d287a.web.app/"
        class="flex gap-3 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-6 h-6" name="mdi:web" />
        Angel C.R
      </Link>

    </div>
  </div>
</main>
