---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      aspectRatio="4:3"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter text-sky-600">
      Creating Value through Utility.
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
     Utility gods is a collection of Services.<wbr /> Built and Distributed to use Freely. We want to create ease of use for the community.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center bg-sky-600"
        rel="noopener">
        <Icon class="text-white w-6 h-6" name="gridicons:reblog" />

       Read our Blog
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center border-sky-600 text-sky-600"
        target="_blank">
        <Icon class="text-sky-600 w-6 h-6" name="gridicons:mail" />
       Contact Us
      </Link>
    </div>
  </div>
</main>
