---
// @ts-ignore
import { Icon } from "astro-icon";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">We work with your technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">

    <Icon class="h-8 md:h-12" name="logos:microsoft-azure" />
    <Icon class="h-8 md:h-12" name="logos:aws" />
    <Icon class="h-8 md:h-12" name="logos:google-cloud" />
    <Icon class="h-8 md:h-12" name="logos:docker-icon" />
    <Icon class="h-8 md:h-12" name="logos:kubernetes" />
    <Icon class="h-8 md:h-12" name="logos:linux-tux" />
  </div>

  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="logos:scala" />
    <Icon class="h-8 md:h-14" name="logos:java" />
    <Icon class="h-8 md:h-16" name="logos:rust" />
    <Icon class="h-8 md:h-12" name="vscode-icons:file-type-go-gopher" />
    <Icon class="h-8 md:h-12" name="logos:python" />
  </div>

  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
     <Icon class="h-8 md:h-12" name="logos:akka" />
     <Icon class="h-8 md:h-12" name="cib:apache-spark" />
     <Icon class="h-8 md:h-12" name="logos:hadoop" />
     <Icon class="h-8 md:h-12" name="logos:elasticsearch" />
  </div>

  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon class="h-8 md:h-12" name="logos:flutter" />
    <Icon class="h-8 md:h-14" name="logos:astro" />
    <Icon class="h-8 md:h-16" name="logos:typescript-icon" />
  </div>
</div>
