---
// @ts-ignore
import { Icon } from "astro-icon/components"
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Works with your technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <Icon name="simple-icons:react" size={64} />
    <Icon name="simple-icons:astro" size={64} />
    <Icon name="simple-icons:tailwindcss" size={64} />
    <Icon name="simple-icons:vercel" size={64} />
  </div>
</div>
