---
import Link from "./ui/link.astro";
---

<div class="service-container">
    <div class="service-grid">
        <div class="service-rows">
            <div class="service-row">
                <!-- About Row Heading -->
                <h3 class="service-row-heading">
                    Introducing an extensible editor
                </h3>

                <!-- About row Description -->
                <span class="service-row-desc">
                    Blogr features an exceedingly intuitive interface which lets
                    you focus on one thing: creating content. The editor
                    supports management of multiple blogs and allows easy
                    manipulation of embeds such as images, videos, and Markdown.
                    Extensibility with plugins and themes provide easy ways to
                    add functionality or change the looks of a blog.
                </span>
            </div>

            <!-- About row: Robust content management -->
            <div class="service-row">
                <!-- About Row Heading -->
                <h3 class="service-row-heading">Robust content management</h3>

                <!-- About Row Description -->
                <span class="service-row-desc">
                    Flexible content management enables users to easily move
                    through posts. Increase the usability of your blog by adding
                    customized categories, sections, format, or flow. With this
                    functionality, you’re in full control.
                </span>
            </div>
        </div>

        <div class="service-pic"></div>
    </div>
</div>
