---
import { SEO } from "astro-seo";
import Footer from "@components/footer";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title + " | " + "WiselyDesk";
---

<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png?" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description="Supercharge your Zendesk help center."
      canonical={canonicalURL}
      twitter={{
        creator: "@wiselydesk",
        site: "@web3templates",
        card: "summary_large_image"
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `WiselyDesk - Help Desk Automation`,
          image: resolvedImageWithDomain
        },
        image: {
          alt: "WiselyDesk Landing Pages Screenshot"
        }
      }}
    />
  </head>
  <body class="h-full text-[#1D2D35] antialiased">
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
